{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="row text-center vertical-middle-sm">
        <h1>Login</h1>
        <p>
            Input your username and password
        </p>

        <form class="form-horizontal" action="{% url 'account:user_login' %}" method="post">
            {% csrf_token %}

            <!-- 旧方法：渲染表单为一系列的p标签，每个p标签包含一个字段 -->
{#            {{ form.as_p }}#}

            <!-- 用户名 -->
            <div class="form-group">
                <label for="{{ form.username.id_for_label }}" class="col-md-5 control-label" style="color:red">
                    <span class="glyphicon glyphicon-user"></span>
                    Username
                </label>
                <div class="col-md-6 text-left">{{ form.username }}</div>
            </div>

            <!-- 密码 -->
            <div class="form-group">
                <label for="{{ form.username.id_for_label }}" class="col-md-5 control-label" style="color:blue">
                    <span class="glyphicon glyphicon-user"></span>
                    Password
                </label>
                <div class="col-md-6 text-left">{{ form.password }}</div>
            </div>

            <input type="submit" value="Login">
        </form>
    </div>
{% endblock %}